@{
    Layout = "_Layout";
}

<div class="container">
    <div class="card">
        <h1>Welcome to the Animal Shelter!</h1>
        <p>@Html.ActionLink("See all animals", "Index", "Animals")</p>
    </div>
</div>
